body{
    background: url("bg2.jpg") repeat-x center bottom;
    font-family: 'Baloo Bhai 2', cursive;
    
}
h3{
    text-decoration: underline;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: #FEA93E;
}
h4{
    margin-top: 0px;
    padding: 0px;
    color: #1D5A87;
}
p{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #1D5A87;
}
span{
    color: #c7180c;
}
input{
    border-radius: 30px;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}