<html>
<title>COVID-19 XRAY</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap" rel="stylesheet">

<body>
    <center>
        <br/>
        <h3>Your Result is ready:</h3>
        <p>Licence Number: <span>{{name}}</span></p>
    </center>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4%;
            background-color: white;
            color: white;
            text-align: right;
        }
    </style>

    <div class="footer">
        <h4>Made by Vikas ©2020 Copyright©</h4>
    </div>
</body>

</html>